body {
  margin: 40px;
}

.title {
  text-align: center;
  color: #444;
  margin-bottom: 2em;
}

.outer-box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0.5em;
  background-color: #fff;
  color: #444;
  margin: auto;
  width: 65%;
  max-width: 600px;
}

.inner-box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0.25em;
  background-color: #fff;
  color: #444;
  width: 97%;
  height: 33%;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 97%;
  height: 32%;
}

.number-input {
  font-size: 150%;
  background-color: #444;
  color: #fff;
  width: 99%;
  height: 98%;
  margin: auto;
  border: none;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.solve-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
}
