body {
        margin: 40px;
}

.title {
        text-align: center;
        color: #444;
        margin-bottom: 2em;
}

.outer-box {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
        margin: auto;
        width: 900px;
        height: 900px;
}

.inner-box {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 5px;
        background-color: #fff;
        color: #444;
}


.box {
        background-color: #444;
        color: #fff;
        font-size: 150%;
        display: grid;
        align-items: center;
        justify-items: center;
}

.number-input {
        font-size: 250%;
        background-color: #444;
        color: #fff;
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
        box-sizing: border-box;
}

.solve-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
}
