body {
  margin: 40px;
}

.title {
  text-align: center;
  color: #444;
  margin-bottom: 2em;
}

.outer-box {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
  margin: auto;
  width: 450px;
}

.inner-box {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  height: 49px;
  width: 49px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.number-input {
  font-size: 150%;
  background-color: #444;
  color: #fff;
  width: 50%;
  height: 75%;
  margin: auto;
  border: none;
  display: grid;
  align-items: center;
  justify-items: center;
}
