body {
  margin: 40px;
}

.outer-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
  /*border: 2px;*/
}

.box {
  background-color: #444;
  color: #fff;
  /*padding: 20px;*/
  font-size: 150%;
  height: 99px;
  width: 99px;
}
